html, body {
  height: 100%;
}

body {
  background: white;
  color: black;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.btn-taylor {
  background: transparent;
  border: 1px solid black;
  color: black;
  &:hover {
    background-color: grey;
    color: white;
    border: 1px solid black;
  }
  &:active, &.active {
    background-color: black !important;
    color: white;
  }
}

.btn-choice {
  background: transparent;
  border: 1px solid black;
  color: black;
  &.off {
    // color: white;
    text-decoration: line-through;
    // background-color: black;
  }
}
